# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Build

on: [push]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        jdk: [8, 11, 14]

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK ${{ matrix.jdk }}
      uses: actions/setup-java@v2
      with:
        java-version: ${{ matrix.jdk }}
        distribution: 'adopt'
        cache: 'maven'

    - name: Build, Test
      run: mvn -B install

    - name: Publish Unit Test Results
      uses: EnricoMi/publish-unit-test-result-action@v1
      if: matrix.jdk == 8
      with:
        files: target/surefire-reports/*.xml

  conventional-commits-versionning-and-docker:
    needs: [build]
    if: github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags/')
    name: Bump version and create release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 8
        uses: actions/setup-java@v2
        with:
          java-version: 8
          distribution: 'adopt'
          cache: 'maven'
      - name: Install NodeJS
        uses: actions/setup-node@v3
        with:
          node-version: 14.x
      - name: Install Semantic release
        run: |
          npm install -g semantic-release \
          @semantic-release/exec \
          @semantic-release/git \
          @semantic-release/changelog
      - name: Run semantic release to bump version and create release
        run: npx semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
